<h1 id="daylight-title">Daylight</h1>

<div id="daylight-app">
  <div class="row">
    <div class="box col-md-3 col-md-offset-1" onclick="daylightColor('yellow')">Morning</div>
    <div class="box col-md-3 col-md-offset-1" onclick="daylightColor('orange')">Afternoon</div>
    <div class="box col-md-3 col-md-offset-1" onclick="daylightColor('black')">Evening</div>
  </div>
    <div>
      <div id="display" class="box col-md-11 col-md-offset-1" > </div>   
    </div>
</div>
